.MainHeader{
    /* background-color: rgb(45, 88, 126); */
    margin: 0;
    padding: 0;
    opacity: 0.7;
}

.MainHeader-ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.MainHeader-ul li{
    border-radius:25%;
}

a:link, a:visited {
    /* background-color: rgb(45, 88, 126); */
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* color: #C3D9DE; */

  }
  
  a:hover, a:active {
    background-color: rgb(52, 63, 73);
    border-radius:10px;
    /* color:#C3D9DE; */
    color: white;
  }


.MainHeader-ul li:last-child{
    right: 0;
    position: absolute;

}